# Testing
pytest==7.4.0
pytest-cov==4.1.0
pytest-mock==3.11.1

# Code Quality
black==23.7.0
flake8==6.0.0
pylint==2.17.4
mypy==1.5.0
pre-commit==3.3.3

# Documentation
sphinx==7.1.2
sphinx-rtd-theme==1.3.0
myst-parser==2.0.0

# Jupyter
jupyter==1.0.0
ipykernel==6.25.0

# Other development tools
ipdb==0.13.13